#profile-update-form .form-control {
    color: #525252;
}

#profile-update-form input::placeholder {
    color: #525252;
}

#id_default_country,
#id_default_country option:not(:first-child) {
    color: #9EB9D4;
}

#id_default_country option:first-child {
    color: #525252;
}