/* Height set to allow h-100 classes to work */
html {
    height: 100%;
    background-color: #f3e5ab8f;
}

body {
    background: url('/media/homepage_background.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    font-family: 'basic';
}

h3, h4, h6 {
    color: #525252;
}

p {
    color: #525252;
}

.logo {
    color: #F3E5AB;
    font-family: 'Playfair diplay sc';
}

.main-logo-link {
    width: fit-content;
}

#topnav {
    background-color: #525252;
    color: #F3E5AB;
}


.dropdown-menu {
    background-color: #525252;
}

.dropdown-item {
    color: #F3E5AB;
}

.dropdown-item:hover {
    color: #FF7518;
}

.bg-banner {
    background-color: #525252;
}

.home-message {
    color: #9EB9D4;
    font-family: 'mako';
}

.browse-button {
    font-family: 'mako';
    background: #525252;
    color: #FF7518;
    min-width: 260px;
}

.browse-button:hover,
.browse-button:active,
.browse-button:focus,
.btn-grey:hover,
.btn-grey:active,
.btn-grey:focus {
    background: #FF7518;
    color: #525252;
}

.btn-outline-grey {
    border: 1px solid #525252;
}

.btn-outline-grey:hover,
.btn-outline-grey:active,
.btn-outline-grey:focus {
    background: #FF7518;
    color: #525252 !important;
}

.text-grey {
    color: #525252 !important;
}

.text-yellow {
    color: #F3E5AB !important;
}

.text-orange {
    font-family: 'mako';
    font-weight: bold;
    color:#FF7518 !important;
}

.border-grey {
    border: 1px solid #525252 !important;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: #F3E5AB;
    z-index: -1;
}

a.category-badge {
    color: #525252;
}

a.category-badge > span.badge:hover {
    color: #FF7518;
}

a {
    color: #525252;
}

a:hover {
    color: #FF7518;
    text-decoration: none;
}

/* Styling for Bootstrap Toasts */
.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* Styling for the return to top of page arrow. Also update and remove links in shopping bag */
.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

/* Styling for the search box placeholder */
input[name='q']::placeholder {
    color: #9EB9D4;
}

/* Shopping Bag Notification Wrapper */
.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }
}

/* Allauth form formatting */ 
.allauth-form-inner-content p {
    margin-top: 1.5rem;
    /* mt-4 */
    color: #525252;
    /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #525252;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #525252;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
    /* btn */
    display: inline-block;
    font-weight: 400;
    color: #FF7518;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #525252;
    border: 1px solid #525252;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {
    color: #525252;
    background-color: #FF7518;
    border-color: #FF7518;
}

.allauth-form-inner-content a {
    color: #525252;
    /* text-info */
}