<footer class="text-center fixed-dt">
    <div class="container p-4"><hr>
        <div class="footer">
            <form action="{% url 'subscribe' %}" method="post">
                <div class="row d-flex justify-content-center">
                    {% csrf_token %}
                    <div class="col-12 col-lg-3">
                        <p class="pt-2 font-weight-bold">Subscribe For Our Newsletter</p>
                    </div>
    
                    <div class="col-12 col-lg-3">
                        <input id="name" name="name" class="form-control" placeholder="Your Name">
                    </div>
    
                    <div class="col-12 col-lg-3">
                        <input id="email" name="email" type="email" class="form-control" placeholder="Email Address">
                    </div>
    
                    <div class="col-12 col-lg-3">
                        <button type="submit" class="btn form-button">
                            <i class="fa fa-arrow-right fa-lg"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</footer>