<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link text-yellow mr-5" href="#" id="all-products-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item ">By Category</a>
                <a href="" class="dropdown-item ">By Artist</a>
                <a href="" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link text-yellow mr-5" href="#" id="art-category-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Art Category
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="art-category-link">
                <a href="{% url 'products' %}?category=paintings" class="dropdown-item">Paintings</a>
                <a href="{% url 'products' %}?category=ceramics" class="dropdown-item">Ceramics</a>
                <a href="{% url 'products' %}?category=sculpture" class="dropdown-item">Sculpture</a>
                <a href="{% url 'products' %}?category=paintings,ceramics,sculpture" class="dropdown-item">All Categories</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link text-yellow" href="#" id="specials-link" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="{% url 'products' %}?category=new_arrivals" class="dropdown-item">New Arrivals</a>
                <a href="{% url 'products' %}?category=limited_availability" class="dropdown-item">Limited Availability</a>
                <a href="{% url 'products' %}?category=new_arrivals,limited_availability" class="dropdown-item">All Specials</a>
            </div>
        </li>
    </ul>
</div>